endpoints:
  pop-21.10-default-squash:
    path: /ubuntu-squash/releases/download/REPLACE_RELEASE_NAME/
    files:
    - filesystem.squashfs
    - initrd
    - vmlinuz
    os: "pop"
    version: "REPLACE_VERSION"
    flavor: "intel-amd"
    kernel: "pop-21.10-default-squash"
