endpoints:
  ubuntu-netboot-25.04-arm64:
    path: /ubuntu-squash/releases/download/REPLACE_RELEASE_NAME/
    files:
    - initrd
    - vmlinuz
    os: ubuntu
    version: 'REPLACE_VERSION'
    codename: plucky
    flavor: netboot
    kernel: ubuntu-netboot-25.04-arm64
    arch: arm64
