endpoints:
  ubuntu-netboot-20.04-amd64:
    path: /ubuntu-squash/releases/download/REPLACE_RELEASE_NAME/
    files:
    - filesystem.squashfs
    - initrd
    - vmlinuz
    os: ubuntu
    version: REPLACE_VERSION
    codename: focal
    flavor: netboot
    kernel: ubuntu-netboot-20.04-amd64
    arch: amd64
